.forecast-container {
    text-align: center;
}

.forecast {
    width: 100%;
    display: flex;

    &__day {
        flex: 1;
    }
}

.forecast-day {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__date {
        margin-top: 10px;
    }
}

.forecast-temp {
    font-size: 1.75em;

    &--min {
        color: #5a9dcc;
    }

    &--max {
        color: #ce5a5a;
    }
}
